.flashcard-container {
  width: 100%;
  height: 100%;
}

.flashcard-card {
  width: 300px;
  height: 200px;
  margin: 2rem auto 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flashcard-list-name {
  text-align: center;
  margin-top: 2rem;
  font-size: 28px;
  font-weight: bold;
}

.flashcard-content-front {
  font-size: 28px;
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flashcard-content-back {
  font-size: 28px;
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flashcard-btn-container {
  width: 230px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.flashcard-indicator {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.hidden {
  visibility: hidden;
}
