.container {
  h2 {
    text-align: center;
    margin-top: 1rem;
  }
  .btn-confirm {
    display: block;
    margin: 1.5rem auto;
    background-color: #ff7200;
    padding: 10px;
  }
}

form {
  width: 100%;
  margin: 16px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .form-items {
    margin: 10px auto;
    padding: 2px;
  }
  button {
    margin-top: 10px;
    width: 40%;
  }
  input {
    border: 1px solid black;
  }
}


