.modal {
  display: none;
}

.modal-content {
  background-color: white;
  margin: 40% auto;
  padding: 5px;
  border-radius: 5px;
  width: 80%;
  label {
    font-weight: bold;
    margin-top: 5px;
  }
  input {
    border-width: 1px;
    border-style: solid;
    margin-top: 5px;
  }
}
