.list-title {
  text-align: center;
  button {
    margin-top: 1rem;
    font-size: 12px;
  }
  input {
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
    border-style: solid;
  }
}
